@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*style del header*/

header {
    display: flex;
    justify-content: space-between;
    background: #595d63c4;
    padding: 0px 24px;
    align-items: center;
}

header>nav>ul {
    display: flex;
    list-style-type: none;
    color: white;
    gap: 15px;
}

header>nav>ul>li>a {
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

header>nav>ul>li:last-child a {
    color: #3CB371 
}

header>nav>ul>li>a:hover {
    color: #FAFAD2
}

/*style del banner*/

.bannerInicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background: url('/src/assets/img/IMG-20180101-WA0024.jpg');
    background-blend-mode: color;
    background-size: 100% 100%;
    height: 57vh;
    color: white;
    font-family: 'Anek Telugu', sans-serif;
    padding: 7%;
    text-align: end;
    justify-content: end;
    align-items: end;
    
}

.bannerInicio button {
    width: fit-content;
    cursor: pointer;
    padding: 4px 8px;
    margin-top: .8em;
    background: green;
    color: white;
    border: 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

main>section>div>button>a {
    color: #FAFAD2;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}


/* cards de los profes */


.titleCards {
    display: flex;
    margin: 5px 0;
    font-size: .75em;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.titleCards div:last-child {
    margin-top: 2px;
    font-weight: bold;
    font-size: 1.5em;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 25%;
    font-family: 'Anek Telugu', sans-serif;
    border: 1px solid rgba(162, 162, 162, 0.265)
}

.card .profes {
    height: 330px;
    background-size: cover;
    background-position-x: center;
}

.profe1{
    background-image: url('/src/assets/img/profe1.jpg');
}


.profe2 {
    background-image: url('/src/assets/img/profe2.jpg');
}


.profe3 {
    background-image: url('/src/assets/img/profe3.jpg');
}

.subtitle {
    display: flex;
    gap: 8px;
    font-size: small;
    font-weight: 900;
}

.subtitleA {
    display: flex;
    height: fit-content;
    align-items: center;
    background-color:rgb(219, 55, 26);
    color:rgb(34, 70, 233);
    padding: 4px 6px 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.subtitleB {
    display: flex;
    height: fit-content;
    align-items: center;
    background-color: cornflowerblue;
    color: rgb(243, 228, 97);
    padding: 4px 6px 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.subtitleC {
    display: flex;
    height: fit-content;
    align-items: center;
    background-color: rgb(219, 55, 26);
    color: rgb(248, 248, 248);
    padding: 4px 6px 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.texts {
    margin: 0 15px
}

.titles {
    margin: 15px 0;
}

.title {
    font-weight: bold;
}

.lorem {
    font-size: small;
}

/* style para sumarte como profe */

.pub {
    font-family: 'Anek Telugu', sans-serif;
    margin: 35px 0;
    display: flex;
    height: 35vh;
    gap: 2px;
    color: white
}

.pub .Sumate {
    background-image: url('/src/assets/img/sumate.png');
    background-size: 100% 100%;
    width: 75%;
}

.pub .text {
    background-color: gray;
    padding: 15px;
}

.pub .text div:first-child {
    font-weight: bold;
    margin-bottom: 15px;
}

.pub .text button {
    margin: 15px 0px;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Formulario */

.lowercase {
    text-transform: none;
}

.lowercase a {
    color: black
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
}

.start {
    align-self: start;
}

form {
    padding: 15px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    width: 100%;
    display: flex;
    gap: 5px
}

form>div>input {
    padding: 2px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border: 2px solid lightgray
}

form>textarea {
    padding: 2px;
    margin: 4px 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border: 2px solid lightgray
}

form>button {
    width: 100%;
    color: white;
    background-color: green;
    border: none;
    padding: 9px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* Footer */

footer ul {
    padding: inherit;
    display: flex;
    align-items: center;
    font-family: 'Anek Telugu', sans-serif;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.9682247899159664) 0%, rgb(3, 64, 95) 36%, rgb(2, 74, 102) 100%);
}

footer ul li {
    list-style-type: none;
    width: 10%;
}

footer a {
    color: white;
    text-decoration: none;
}